* {
	margin: 0;
	padding: 0;
}
.App {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: linear-gradient(
		0deg,
		#021024,
		#052656,
		#5483b3,
		#7da0ca,
		#c1e8ff
	);
}
